# Last match in file takes precedence.

# C# code
/Content.*/ @Floof-Station/code-maintainers

# Any assets
/Resources/ @Floof-Station/code-maintainers

# Server config files
/Resources/ConfigPresets/ @M3739

# YML files
/Resources/*.yml @Floof-Station/yaml-maintainers
/Resources/**/*.yml @Floof-Station/yaml-maintainers

# Sprites - Code Maintainers in absence of a proper direction unit
/Resources/Textures/ @Floof-Station/code-maintainers

# Lobby art and music - automatically direction issues since its immediately visible to players
/Resources/Audio/Lobby/ @Floof-Station/direction
/Resources/Textures/LobbyScreens/ @Floof-Station/direction

# Maps
/Resources/Maps/ @Floof-Station/map-maintainers
/Resources/Prototypes/Maps/ @Floof-Station/map-maintainers
/Content.IntegrationTests/Tests/PostMapInitTest.cs @Floof-Station/map-maintainers

# Server rules - directors in absence of head administration.
/Resources/ServerInfo/Guidebook/DeltaV/Rules/ @Floof-Station/directors

# Tools and scripts
/Tools/ @m3739

# Workflows, codeowners, templates, etc.
/.github/ @m3739

# Standalone files in the root repo
/* @m3739
